.register_body {
    margin:0;
    top:0;
    text-align: center;
    background-image: url(../images/bg.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.register_head {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.register_header {
    color: #ff5907;
    font-size: larger;
    margin-top: 10px;
}
.register_logo {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.register_form {
    position: absolute; 
    top: 45%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    width: 25%;
    height: 28%;
    font-family: var(--font-raleway);
}

input[type="text"], input[type="password"] {
    text-align: center;
    height:25px;
    width: 200px;
    margin: 5px;
    font-family: var(--font-raleway);
    font-weight: bold;
    background-color: #333;
    border-radius:3px;
    color: rgba(227, 49, 243, 0.733);
    border: 2px solid #f17a3f;
}

input[type="text"]:hover,input[type="password"]:hover {
    border: 2px solid rgba(227, 49, 243, 0.733);
}

input[type="submit"] {
    text-align: center;
    background-color: black;
    color: rgba(255, 0, 242, 0.733);
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #f17a3f;
    font-size: 20px;
    height: 35px;
    cursor: pointer;
    padding-inline: 10px;
    font-family: var(--font-raleway);
    font-weight: bold;
    font-size: medium;
}

input[type="submit"]:hover {
    color: #f17a3f;
    background-color: rgba(255, 0, 242, 0.733);
    font-family: var(--font-raleway);
}
